@model List<OnlineClothingStore.Models.Item>;


@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}








@foreach (var item in Model)
{

    
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerId)
        </td>
        <td>
             @Html.DisplayFor(modelItem=> item.Producer.Name) 
        </td>
        <td>
            @*  @Html.DisplayFor(modelItem=> item.Items)  *@
        </td>
        <td>
@*              @Html.ActionLink("Edit","Edit", new{id= item.CategoryId})
            @Html.ActionLink("Details","Details", new{id= item.CategoryId})
            @Html.ActionLink("Delete","Delete", new{id= item.CategoryId})  *@
        </td>
    </tr>

}